body {
  background-color: #e8ebed;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.d-f{
  display: flex;
}

.ai-c{
  align-items: center;
}

.ai-s{
  align-items: stretch;
}

.jc-sb{
  justify-content: space-between;
}

.phones{
  justify-content: center;
  height: 110vh;
}

.phones p{
  text-align: center;
}

.landing-wrapper {
  flex-flow: row nowrap;
  min-height: 100vh;
}

.explorer-wrapper {
  width: 20%;
  min-width: 300px;
  border-right: 1px solid rgb(209, 209, 209);
}

.explorer-header {
  padding: 10px;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.database-name {
  font-size: 0.875rem;
  color: #05072b;
}

.explorer-search {
  margin-top: 0.5rem;
  width: 100%;
}

.explorer-search div {
  width: 100%;
}

.explorer-search input {
  background-color: #fff;
}

.explorer-search fieldset {
  border-color: transparent;
}

.explorer-tab-wrapper {
  margin-top: 0.5rem;
  flex-flow: row nowrap;
  min-height: calc(100vh - 100px - 3rem);
}

.explorer-tab-wrapper .tabs {
  border-right: 1px solid #fff;
}

.explorer-tab-wrapper .tabs .Mui-selected {
  color: #2026d2;
}

.explorer-tab-wrapper .tabs button {
  min-width: 0;
  max-width: 56px;
}

.explorer-tab-wrapper .MuiTabs-indicator {
  width: 100%;
  background-color: #2026d21a;
  border-right: 2px solid #2026d2;
}

.explorer-tab-wrapper .tabs-content {
  width: 100%;
  padding-right: 10px;
}

.explorer-tab-wrapper .tabs-content>div>div {
  padding: 0;
}

.explorer-tab-wrapper .MuiAccordion-root,
.explorer-tab-wrapper .MuiAccordionDetails-root {
  border: none;
  background-color: transparent;
}

.explorer-tab-wrapper .acc-heading {
  font-size: 12px;
  font-weight: 700;
}

.files {
  transform: translateX(5px);
}

.file-name {
  width: 100%;
  flex-grow: 4;
}

.file-name svg,
.MuiCardContent-root svg {
  height: 15px;
  width: 15px;
  margin-right: 4px;
  color: #37597a;
}

.file-name span {
  font-size: 0.875rem;
}

.hr {
  border: none;
  height: 0.5px;
  width: calc(100% + 10px);
  background-color: rgba(0, 0, 0, 0.12);
}

.pin {
  transform: rotate(35deg);
}

.un-pin svg,
.pin svg {
  height: 20px;
  width: 20px;
  padding: 0;
}

.table-viewer {
  width: 50vw;
  height: 100vh;
  text-align: right;
}

.MuiDataGrid-toolbarContainer {
  flex-direction: row;
  justify-content: flex-end;
}

.MuiDataGrid-toolbarContainer button {
  color: #05072b;
}

.MuiDataGrid-toolbarContainer div {
  display: none;
}

.history-wrapper {
  flex-direction: column-reverse;
}

.editor-result-wrapper {
  padding: 0;
  width: 80%;
  flex-wrap: wrap;
}

.editor-result-header {
  width: calc(100% + 16px);
  flex-direction: row;
  background-color: #fff;
  padding: 8px 0 10px;
}

.view-mode {
  position: relative;
}

.view-mode .MuiSpeedDial-fab {
  height: 36px;
  width: 36px;
  background-color: transparent;
  box-shadow: none;
  color: #2026d2;
}

.view-mode .MuiSpeedDial-fab:hover {
  color: #fff;
  background-color: #2026d2;
}

.controls {
  padding-top: 5px;
  padding-right: 8px;
}

.editor-wrapper {
  width: 49.8%;
  padding-left: 8px;
}

.editor-wrapper .MuiBox-root {
  padding: 0;
}

.editor-wrapper .MuiButtonBase-root {
  padding: 0 8px;
  justify-content: flex-end;
  align-items: center;
  text-transform: none;
  min-height: 30px;
  position: relative;
  top: 18px;
}

.editor-wrapper .Mui-selected {
  color: rgba(0, 0, 0, 0.65) !important;
}

.editor-wrapper .MuiTabs-indicator {
  background-color: #fff;
  height: 30px;
  z-index: -1;
  border-radius: 5px 5px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: none;
}

.editor-wrapper .add-tab {
  padding: 4px;
  left: 4px;
}

.monaco-editor {
  padding-top: 4px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.minimap {
  box-shadow: rgb(0 0 0 / 8%) -3px 0px 3px 0px;
}

.result-wrapper {
  width: 49.8%;
  padding-right: 8px;
}

.loading-result {
  text-align: center;
  background-color: #fff;
  height: 100%;
  position: relative;
  top: 48px;
  padding-top: 50%;
}

.result-wrapper .Mui-disabled {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

.result-wrapper .MuiBox-root {
  padding: 0;
}

.result-wrapper-inner .MuiButtonBase-root {
  padding: 0 8px;
  justify-content: flex-end;
  align-items: center;
  text-transform: none;
  min-height: 30px;
  position: relative;
  top: 18px;
}

.result-wrapper-inner .Mui-selected {
  color: rgba(0, 0, 0, 0.65) !important;
}

.result-wrapper-inner .MuiTabs-indicator {
  background-color: #fff;
  height: 30px;
  z-index: -1;
  border-radius: 5px 5px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: none;
}

.result-table {
  width: 100%;
  background-color: #fff;
}

.footer {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  text-align: right;
  padding-right: 10px;

}

.footer span {
  color: #2026d2;
}